
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>create new product</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <%- include('common/header2'); -%>
    
<div class="container">
  
    
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-1" src="bioreactor.png"  alt= "" width="150" height="150">
      <h2>Add a New Product to the database</h2>
    </div>
<form  method="Post">
    <div class="row-cols-auto">
      <div class="col-auto order-0">
        <div class="col-md-6" >
          <label for="size" class="form-label">CHOOSE size</label>
          <select class="form-select" id="product" name= "size" required>
            <option value="">Choose...</option>
            <option>STR50</option>
            <option>STR200</option>
            <option>STR500</option>
            <option>STR1000</option>
            <option>STR2000</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid OPTION.
          </div>
        </div>
      </div>
      </div>
      <div class="col-AUTO">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="serialNumber" class="form-label">Serial number</label>
              <input type="text" class="form-control" id="serialnumber" name= "serialnumber" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="cabinetSerialNumber" class="form-label">Electrical Cabinet S/N</label>
              <input type="text" class="form-control" id="cabinetSerialNumber"  name="cabinetserialnumber" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="custname" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="custname" name= "custname"placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="custAdd" class="form-label">Address</label>
              <input type="text" class="form-control" id="custAdd" name= "custAdd" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <label for="custom1" class="form-label">DESCRIBE CUSTOMISATION</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="custom1" name="custom1" >
              
              </div>
            </div>

            

            <div class="col-12">
              <label for="custom2" class="form-label">Describe Customisation </label>
              <input type="text" class="form-control" id="custom2" name="custom2">
            </div>

           

            <div class="col-md-5">
              <label for="customtype" class="form-label">MADE TO :</label>
              <select class="form-select" id="customtype" name= "customtype"required>
                <option value="">Choose...</option>
                <option>Hardware</option>
                <option>Software</option>
                <option>BOTH</option>
               
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="hwrev" class="form-label">HARDWARE REV NO :</label>
              <select class="form-select" id="hwrev" name="hwrev" required>
                <option value="">Choose...</option>
                <option>6.0</option>
                <option>6.1</option>
                <option>6.2</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid CATEGORY.
              </div>
            </div>

            <div class="col-md-3">
              <label for="swrev" class="form-label">SW REV NO :</label>
              <select class="form-select" id="swrev" name="swrev" required>
                <option value="">Choose...</option>
                <option>6.0</option>
                <option>6.1</option>
                <option>6.2</option>
              </select>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Add to database</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2022 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
  </body>
</html>
