<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="nav-link active" href="/"></a> 

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="overview" class="nav-link px-4 text-white">Overview</a></li>
          <li><a href="customers" class="nav-link px-4 text-white">Customers</a></li>
          <li><a href="adherences" class="nav-link px-4 text-white">Adherence reactors</a></li>
          <li><a href="stirtanks" class="nav-link px-4 text-white">Stir Tank Reactors</a></li>
          <li><a href="create-stirtank" class="nav-link px-4 text-white">Add new stir tank reactor</a></li>
          <li><a href="create-adherence" class="nav-link px-4 text-white">Add new adherence reactor</a></li>
        </ul>

        

        <div class="text-end p-1">
            <a href="signin" class="nav-link px-2 text-white">Sign in</a>
            
        </div>
        <div>
            <a href="#" class="nav-link px-2 text-white">Pricing</a>
        </div>
      </div>
    </div>
  </header>